$apple-blossom: #fdfd96;
$alto: #fdfd96;
$bouquet: #fdfd96;
$chelsea-cucumber: #fdfd96;
$cod-grey: #fdfd96;
$conifer: #fdfd96;
$dove-grey: #fdfd96;
$gallery: #fdfd96;
$grey: #fdfd96;
$gulf-stream: #fdfd96;
$hippie-blue: #fdfd96;
$potters-clay: #fdfd96;
$rajah: #fdfd96;
$raw-sienna: #fdfd96;
$silver-chalice: #fdfd96;
